--only-binary=:all:

fastapi==0.128.8
uvicorn[standard]==0.39.0
python-multipart==0.0.20
numpy==2.0.2
opencv-python-headless==5.0.0.93
scikit-image==0.24.0
scipy==1.13.1
shapely==2.0.7
trimesh==4.12.2
triangle==20250106
rembg==2.0.57
onnxruntime==1.19.2
pillow==11.3.0
